#header{
	border-style: solid;
	border-width: 8px;
	border-color: lime;
	background-color: black;
}

h1{
	font-family: monospace;
	color: lime;
	font-size: 32px;
	text-align: center;
}

body{
	background-color:black;
}

#menu{
	padding: 1%;
}

button{
	font-family: monospace;
	font-size: 200%;
	width: 15%;
	height: 8%;
	color: black;
	background-color: lime;
	border-color: black;
	
}